.background {
  background-image: url("../../mediathek/images/inside06.webp");
  background-position: top;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.speechBubble {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 54vw;
  margin-top: -25vh;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 12px;
}

.speechBubble:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-left-color: var(--primary-color);
  border-right: 0;
  border-bottom: 0;
  margin-top: -50px;
  margin-right: -17px;
}

.welcome {
  font-size: medium;
  font-family: "Tenor Sans", sans-serif;
}

.space {
  padding-left: 4px;
}

.spacer {
  padding-left: 120px;
  padding-bottom: 100px;
}

.guy2 {
  margin-top: 17.5vh;
  margin-left: 160vw;
  width: auto;
  height: 600px;
  position: absolute;
}

.blackjack {
  height: 8vh;
  margin-top: 51vh;
  margin-left: 20vw;
  position: absolute;
}

.slots {
  height: 8vh;
  margin-top: 45vh;
  margin-left: 27vw;
  position: absolute;
}

.roulette {
  height: 9vh;
  margin-top: 60vh;
  margin-left: 48.3vw;
  position: absolute;
}

.exit {
  height: 15vh;
  margin-top: 5vh;
  margin-left: 90vw;
  position: absolute;
  &:hover {
    cursor: pointer;
  }
}
