.background {
  background-image: url("../../mediathek/images/Eingangneu-modified.webp");
  background-position: top;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  border-radius: 16px;
  background-color: black;
  border: 3px solid lightgrey;
  box-shadow: -5px 20px 30px 0px rgba(0, 0, 0, 0.7);
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  border-radius: 16px;
  background-color: grey;
  font-family: "Tenor Sans", sans-serif;
  color: var(--primary-color);
  margin: 8px;
  border-radius: 6px;
}

.button {
  display: flex;
  flex-direction: row;
}

.buttonplus {
  padding: 3px 6px;
}

.input {
  font-family: "Tenor Sans", sans-serif;
  border-radius: 6px;
  text-align: center;
}
